*{
  box-sizing: border-box;
}

.icons-container{
  font-size: 0;
  text-align: center;
}

.icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
}

.icon ~ .icon{
  margin-left: 25px;
}